<form>
  <label class="col-form-label" for="name">Name: </label>
  <input
    type="text"
    id="name"
    name="name"
    class="form-control"
    required
    minlength="4"
    appForbiddenName="Ramón"
    [(ngModel)]="actor.name"
    #name="ngModel"
  />

  @if (name.invalid && (name.dirty || name.touched)) {
    <div class="alert">
      @if (name.hasError('required')) {
        <div>
          Campo name requerido.
        </div>
      }
      @if (name.hasError('minlength')) {
        <div>
          Name must be at least 4 characters long.
        </div>
      }
      @if (name.hasError('forbiddenName')) {
        <div>
          'No puedes ingresar Ramón.'
        </div>
      }
    </div>
  }
</form>
