<form>
  <label class="col-form-label" for="name">Name: </label>
  <input
    type="text"
    id="name"
    name="name"
    class="form-control"
    required
    minlength="4"
    appForbiddenName="Ramón"
    [(ngModel)]="actor.name"
    #ame="ngModel"
  />

  @if (ame.invalid && (ame.dirty || ame.touched)) {
    <div class="alert">
      @if (ame.hasError('required')) {
        <div>
          Campo name requerido.
        </div>
      }
      @if (ame.hasError('minlength')) {
        <div>
          Name necesita ser mas de 4 caracteres.
        </div>
      }
      @if (ame.hasError('forbiddenName')) {
        <div>
          'No puedes ingresar Ramón.'
        </div>
      }
    </div>
  }
</form>
